<h1>Welcome to Meadowlark Travel</h1>


<p>Sample pages to explore:</p>
<ul>
	<li><a href="/weather">Weather using partials</a></li>
	<li><a href="/about?parm1=value1&parm2=value2">Dumping parameters using query</a></li>
	<li><a href="/nursery-rhyme">Client-Side Handlebars Sample</a></li>
	<li><a href="/jquery-test">Sections Sample</a></li>
	<li><a href="/newsletter">Ch. 8. Newsletter: Form Handling with Express</a></li>
	<li><a href="/newsletter?ajax">Ch. 8. Newsletter: Form Sending AJAX Request</a></li>
	<li><a href="/contest/vacation-photo">Ch. 8. Vacation Photo: File Uploads</a></li>
	<li><a href="/set-cookie">Ch. 9: Set and Receive Cookie</a></li>
	<li><a href="/set-session">Ch. 9: Set and Examine Session Variables</a></li>
	<li><a href="/flash-messages">Ch. 9: Flash Messages</a></li>
	<li><a href="/send-email">Ch. 11: Sending Email</a></li>
    <li><a href="/vacations">Ch. 13: Vacations: Manipulating MongoDB via Mongoose</a></li>
    <li><a href="/random">Ch. 14: Random Route: Routing with three middleware functions</a></li>
    <li><a href="/staff">Ch. 14: Employees: Routing with params</a></li>
</ul>
<hr />
